.row{
    display:flex; 
    justify-content:center;
}

.profile-img{
    text-align: center;
    width:40%;
    object-fit: fill; 
}

.imgs{
    width: 100%;
    height: 75%;
    border: 25px;
    border-top-left-radius:25px; 
    border-top-right-radius:25px; 
    border-bottom-left-radius:25px; 
    border-bottom-right-radius:25px; 
}

.team-name{
    color:rgb(117, 197, 117);
    text-align: center;
    font-family: 'Playwright India Guides', cursive; 
    font-size:max(2vw, 7vw); 
    margin:0 auto;
}

#background{
    background-color: rgb(83, 129, 84);
}

#name{
    font-size: larger;
    font-family: fantasy;
}

#writing{
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}

table{
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
}

th{
    border: 1px, solid;
    padding: 10%;
    text-align: center;
    height: 25%;
}

td{
    border: 1px, solid;
    padding: 10%;
    text-align: center;
}

tr{
    border: 1px, solid;
    padding: 10%;
    text-align: center;
    height: 25%;
}