.row{
    display:flex; 
    justify-content:center;
}

.profile-img{
    text-align: center;
    width:40%;
    object-fit: fill; 
}

.imgs{
    width: 100%;
    height: 75%;
    border: 25px;
    border-top-left-radius:25px; 
    border-top-right-radius:25px; 
    border-bottom-left-radius:25px; 
    border-bottom-right-radius:25px; 
}

.team-name{
    color:rgb(117, 197, 117);
    text-align: center;
    font-family: 'Playwright India Guides', cursive; 
    font-size:max(2vw, 7vw); 
    margin:0 auto;
}

#background{
    background-color: rgb(83, 129, 84);
}

#name{
    font-size: larger;
    font-family: fantasy;
}

#writing{
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}

#footer{
    color: rgb(81, 80, 80);
}

#form{
    display: flex;
    justify-content: center;
}

.nav-links{
    background-color: rgb(84, 197, 97);
}

.nav-links:active{
    background-color: rgb(77, 77, 240);
}

.nav-links:hover{
    background-color: rgb(135, 135, 224);
}

#hobbies{
    display: flex;
    justify-content: center;
}
